Repository JulianKuipers/congenial-potato, pull requests merged in 2022-05, with the labels that each got.

#2 Added profile for Julian
  profiles/julian.md
Labels: profiling

#7 Add semantics enforcer
  .github/semantic.yml
Labels: size/M

#8 Added codeowners
  .github/CODEOWNERS
Labels: size/XS

#9 iemke
  profiles/iemke.md
Labels: profiling, size/XS
